# Konfigurasi Port
PORT=5005

# Konfigurasi Database (Sesuaikan dengan Database SLiMS di VPS)
# Gunakan IP host VPS atau host docker jika database di luar container ini
DB_HOST=172.17.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=slimsumpo

# Lokasi Model YOLO
MODEL_YOLO_PATH=bestmodel.pt
